* {
  box-sizing: border-box;
}

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 0;
  padding: 0;
  background: whitesmoke;
}

/* Edges around the content */

.background {
  padding: .4em 1em;
}

header, footer {
  background-color: #800020;
  padding: 4px 0;
  top: 0;
  left: 0;
  margin: 0;
  color: white;
  text-align: center;
}

/* Text in the header */

#title {
  font: 400 5vw "EB Garamond";
  font-style: italic;
  text-shadow: 3px 3px 10px black;
}

/* Backdrop for all the content */

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20%, 1fr));
  justify-content: center;
  width: 100%;
  max-width: 100%;
  min-height: 100vh;
  height: auto;
  background-color: rgb(255, 250, 243);
  margin: 50px 0;
  align-items: center;
  border-radius: 30px;
  border-top: 12px solid hsl(345, 100%, 32%);
  border-left: 4px solid hsl(345, 100%, 32%);
  border-right: 4px solid hsl(345, 100%, 32%);
  box-shadow: 5px 5px 10px grey;
}

/* Fades in the content of the entire page */

.container, .headings-first, .headings-second {
  animation: fadein 1.5s;
}

@keyframes fadein {
  from {
    transform: translateY(50px);
    opacity: 0
  }
  ;
  to {
    transform: translateY(0px);
    opacity: 1
  }
  ;
}

/* This aligns the text to the right of the photo, i.e. the right side is flattened */

.first {
  padding: 20px 20px 20px 0;
  text-align: right;
}

/* Left side flattened */

.second {
  padding: 0 0 0 20px;
  text-align: left;
}

/* Text in the portfolio and outro sections*/

.portfolio {
  margin-top: 0;
  text-align: center;
  width: 100%;
}

.outro {
  width: 100%;
  height: auto;
  font-size: 2.4vw;
  padding: 20px;
}

/* Images */

.photos {
  width: 25vw;
  height: auto;
  padding: 10px;
  margin: 10%;
}

.grad {
  margin-left: 30%;
}

/* Some photos have different original sizes, hence the need for more specific markup */

img {
  height: auto;
  width: 25vw;
  border-radius: 3px;
  padding: 2% 0;
}

.profile {
  padding: 2%;
  width: 34vw;
}

#logos {
  padding-left: 0;
}

/* These are for the headers on top of every content container */

.headings-first, .headings-second {
  font-size: 2.4vw;
  display: block;
  background: hsl(345, 100%, 32%);
  width: 33%;
  border-radius: 20px 20px 0px 0px;
  color: white;
  text-align: center;
}

/* Like the text in the container, the text aligns opposite the photo */

.headings-first {
  float: left;
  margin: 0 25px 0 50px;
}

.headings-second {
  float: right;
  margin: 0 50px 0 25px;
}

/* Keywords are selected in spans with this class and are words that deserve emphasis in the content */

.keyword {
  color: #800020;
  font-style: italic;
}

/* These are the gifs in the portfolio section */

.animate img {
  display: flex;
  justify-content: center;
}

.animated {
  min-width: 85vw;
  height: auto;
  padding: 20px;
  text-align: center;
  margin: auto;
}

/* Footer and navbar */

footer {
  padding: 20 0;
  margin: 0;
  font-size: 2vw;
  letter-spacing: 2px;
  text-align: center;
}

ul {
  padding-inline-start: 0;
}

.navbar {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}

.navbar li, .navbar a {
  text-decoration: none;
  background-color: transparent;
  color: white;
}

/* Media queries */

@media screen and (max-width: 2560px) {
  .headings-first, .headings-second {
    font-size: 2.2vw;
  }
  .first, .second, .portfolio {
    font-size: 2.4vw;
  }
}

@media screen and (max-width: 1024px) {
  .background {
    padding: 0 1em;
  }
  .container {
    margin: 25px 0;
  }
  .first, .second, .portfolio {
    font-size: 2.8vw;
  }
  #naam {
    padding: 2em;
  }
}

@media screen and (max-width: 425px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    margin: 20px 0;
  }
  .headings-first, .headings-second {
    width: 75%;
    justify-content: center;
  }
  img {
    margin: auto;
    grid-area: 1/1;
    width: 100%;
  }
  .photos {
    margin: auto;
    padding: 0;
    width: auto;
  }
  .grad {
    width: 60vw;
    margin: auto;
    padding: 0;
  }
  .profile {
    width: 60vw;
    margin: 0;
    padding: 20px 0 0 0;
  }
  .animated {
    width: 20vw;
    padding: 10px 0px;
  }
  h3 {
    font-size: 3.5vw;
  }
  .outro {
    padding: 30px;
  }
  .first, .second, .portfolio {
    padding: 20px;
    font-size: 5vw;
    text-align: center;
  }
  #title {
    font-size: 6vw;
  }
  footer {
    font-size: 3.5vw;
  }
  .navbar li, .navbar a {
    font-size: inherit;
  }
}