* {
  box-sizing: border-box;
}

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 0;
  padding: 0;
  background: whitesmoke;
}

.background {
  z-index: 0;
  padding: 10;
}

header, footer {
  background-color: #800020;
  padding: 8px 0px;
  top: 0;
  left: 0;
  margin: 0;
  color: white;
  text-align: center;
}

#title {
  font: 400 40px "EB Garamond";
  font-style: italic;
  text-shadow: 3px 3px 10px black;
}

.container {
  display: flex;
  justify-content: space-evenly;
  width: 100vw;
  height: auto;
  max-width: 100%;
  background-color: rgb(255, 250, 243);
  margin: 50 0;
  align-items: center;
  border-radius: 30px;
  border-top: 12px solid hsl(345, 100%, 32%);
  border-left: 4px solid hsl(345, 100%, 32%);
  border-right: 4px solid hsl(345, 100%, 32%);
  box-shadow: 5px 5px 10px grey;
}

.container, .headings-first, .headings-second {
  animation: fadein 3s;
}

@keyframes fadein {
  from {transform: translateY(200px); opacity: 0};
  to {transform: translateY(0px); opacity: 1};
}

.first, .second, .portfolio {
  font-size: 30px;
  font-size: 3.5vw 3.5vh;
  padding: 15px;
}

.first {
  text-align: right;
}

.second {
  text-align: left;
}

.portfolio {
  margin-top: 0;
  text-align: center;
}

.photos {
  width: 550px;
  height: 500px;
  display: flex;
  padding: 10;
}

img {
  height: auto;
  width: 500px;
}

#graduation-photo {
  width: 400px;
}

#logos {
  width: 450px;
}

.headings-first, .headings-second {
  font-size: 1.5em;
  padding: 1 1 0 0;
  display: block;
  background: hsl(345, 100%, 32%);
  width: 400px;
  border-radius: 20px 20px 0px 0px;
  color: white;
  text-align: center;
}

.headings-first {
  float: left;
  margin: 0 25 0 50;
}

.headings-second {
float: right;
margin: 0 50 0 25;
}

.keyword {
  color: #800020;
  font-style: italic;
}

.animate img {
display: flex;
justify-content: center;
}

.animated {
  width: 90vw;
  height: auto;
  margin: 20;
}

footer {
  padding: 20 0;
  margin: 0;
  font-size: 1.1em;
  letter-spacing: 1px;
  text-align: center;
}

.navbar {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}

.navbar a {
  text-decoration: none;
  font-size: 1.5em;
  padding: 15px;
  background-color: #800020;
  color: white;
}

@media only screen and (max-width: 700px) {


}