* {
  box-sizing: border-box;
}

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 0;
  padding: 0;
  background: whitesmoke;
}

/* Edges around the content */

.background {
  padding: .4em 1em;
}

header, footer {
  background-color: #800020;
  padding: 4px 0;
  margin: 0;
  color: white;
  text-align: center;
}

header {
  font: 100 1.5rem "EB Garamond", serif;
  letter-spacing: 1px;
  font-style: italic;
  text-shadow: 3px 3px 10px black;
}

/* Text in the header */

.title {
  margin-bottom: 0;
}

.subtitle {
  margin-top: 0;
}

/* Backdrop for all the content */

.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 100%;
  min-height: 80vh;
  height: auto;
  background-color: rgb(255, 250, 243);
  margin: 50px 0;
  align-items: center;
  border-radius: 30px;
  border-top: 12px solid hsl(345, 100%, 32%);
  border-left: 4px solid hsl(345, 100%, 32%);
  border-right: 4px solid hsl(345, 100%, 32%);
  box-shadow: 5px 5px 10px grey;
}

/* Fades in the content of the entire page */

.container, .headings-first, .headings-second {
  animation: fadein 1.5s;
}

@keyframes fadein {
  from {
    transform: translateY(50px);
    opacity: 0
  }
  ;
  to {
    transform: translateY(0px);
    opacity: 1
  }
  ;
}

figure {
  margin: 24px;
}

figure a {
  display: flex;
  width: 75%;
  margin: auto;
}

/* Text */

.first, .second, .portfolio-text {
  font-size: 1.5rem;
  margin: auto;
}

/* Right side flattened */

.first {
  padding: 20px 20px 20px 0;
  text-align: right;
}

/* Left side flattened */

.second {
  padding: 0 0 0 20px;
  text-align: left;
}

.portfolio-text {
  margin: 24px 0;
  text-align: center;
  width: 100%;
}

.keyword {
  color: #800020;
  font-style: italic;
}

.img-title {
  display: none;
}

/* Images */

img {
  height: auto;
  width: 25vw;
  border: 1px solid hsl(345, 100%, 32%);
  margin: 3rem;
  transition: border .5s ease;
}

.profile {
  width: 30vw;
}

#logos {
  border: none;
}

.portfolio-img {
  display: flex;
  width: 100%;
  height: auto;
  margin: auto;
}

/* Headers on top of container */

.headings-first, .headings-second {
  display: block;
  background: hsl(345, 100%, 32%);
  width: 33%;
  border-radius: 20px 20px 0px 0px;
  color: white;
  text-align: center;
  font-size: 1rem;
}

.headings-first {
  float: left;
  margin: 0 25px 0 50px;
}

.headings-second {
  float: right;
  margin: 0 50px 0 25px;
}

/* Footer and navbar */

footer {
  padding: 8px 0;
  margin: 0;
  font-size: 1rem;
  letter-spacing: 2px;
  text-align: center;
}

ul {
  padding-inline-start: 0;
}

.navbar {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}

.navbar li, .navbar a {
  text-decoration: none;
  background-color: transparent;
  color: white;
}

/* Media queries: responsive for mobile */

@media screen and (max-width: 500px) {
  .container {
    flex-direction: column;
    margin: 20px 0;
    border-radius: 0;
    border-bottom: 12px solid hsl(345, 100%, 32%);
  }
  img {
    margin: auto;
    width: 90%;
  }
  .grad {
    width: 80vw;
    margin: 12px;
  }
  .profile {
    width: 80vw;
  }
  .portfolio-img {
    width: 100%;
  }
  .first, .second, .portfolio-text {
    padding: 20px;
    font-size: 1rem;
    text-align: center;
  }
  .portfolio-text {
    padding: 0;
  }
  header {
    font-size: 1rem;
  }
  .headings-first, .headings-second {
    width: 100%;
    margin: auto;
    justify-content: center;
    font-size: .9rem;
  }
  footer {
    font-size: .8rem;
  }
}

/* Media queries: hover effect on the portfolio gallery */

@media screen and (min-width: 900px) {
  figure a {
    position: relative;
    display: block;
    transition: width .7s ease;
  }
  figure a::before {
    content: '';
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    background: hsla(0, 0%, 0%, 0.712);
    opacity: 1;
    transition: all .5s ease;
  }
  figure a::after {
    content: '';
    position: absolute;
    top: 15%;
    left: 15%;
    width: 70%;
    height: 70%;
    border: 1px solid white;
    opacity: 1;
  }
  figure a:hover::before {
    opacity: 0;
    transition: opacity .5s ease;
  }
  figure a:hover {
    width: 77%;
    transition: all .6s ease;
  }
  figure a:hover img {
    border: 1px solid whitesmoke;
    transition: border .5s ease;
  }
  .img-title {
    display: block;
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    transition: opacity .5s ease;
  }
  figure a:hover .img-title, figure a:hover::after {
    opacity: 0;
    transition: opacity .3s ease;
  }
}

/* Media queries: 4K */

@media screen and (min-width: 2560px) {
  section {
    width: 50vw;
    max-width: 50vw;
    flex-direction: column;
    margin: auto;
  }
  .container {
    min-height: 30vw;
  }
  .headings-first, .headings-second {
    margin: 0;
  }
  .headings-first {
    margin-left: 2rem;
  }
  .headings-second {
    margin-right: 2rem;
  }
  img {
    width: 15vw;
  }
  .profile {
    width: 20vw;
  }
}